section {
  display: grid;
  grid-template-columns: 1fr;
}

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 10%;
  }
  
.head {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    color: black; 
    margin-top: 10px;
    font-weight: 500;
    z-index:1
}
.hero-txt {
    grid-column: 1/-1 ;
    height: calc(50vh - 25px);
    text-align: center;
    padding: 25vh 0;
    color: black; 
    z-index:1
}

.intro {
 font-family: 'Playfair Display', serif;
 font-size: 96px;
 margin: 0;
}

.info-para {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    
}

button {
    border: 2px solid #A020F0;
    background-color: transparent;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    z-index:1;
    margin: 10px;
    color: #A020F0;
}
 button:hover {
  background: #A020F0;
  color: white;
}
.b {
    background-color: #ffeead;
    height: 100vh;
    padding: 10vh 10vh;
  }

.title {
    margin-bottom: 50px;
   text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-row: 1fr 1fr;
    grid-gap: 25px;
    height: 60vh;
   justify-content: center;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
      background-color: #ff6f69;
}

.container > div:nth-child(4n) {
      background-color: #ffcc5c;
}
